@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
/* Colors */
--brand-pink: #EF5DA8;
--brand-blue: #080A41;
--background-color: #EFEFFF;
}

* {
  font-family: 'PT Sans Narrow', sans-serif;
}

html, body {
  background-color: var(--background-color) !important;
}

a {
  text-decoration: none;
}

/* Utils */
.r__10 {
  border-radius: 10px !important;
}

.bg__blue {
  background-color: var(--brand-blue);
}

.b__b {
  color: var(--brand-blue);
}

.b__p {
  color: var(--brand-pink);
}

.min_vh_50 {
  min-height: 50vh;
}

.mt__neg__ {
  margin-top: -220px;
}

.btn__b_blue {
  color: white;
  background-color: var(--brand-blue);
  border-color: var(--brand-blue);
}

.setup_input {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--brand-blue);
  font-size: x-large;
  margin: 1rem 0;
}

@media(max-width:500px) {

  .mt__neg__ {
    margin-top: -300px;
  }
  
}